In [1]:
import pandas as pd
import json

In [2]:
with open("MergedCleanProjectDB.json", "r") as jsonFile:
    dataObject = json.load(jsonFile)

In [33]:
ArchArrays  = []
for object in dataObject:
    currVal = object["UNStudio Team"]
    newVal = []
    if type(currVal) == str:
        currVal = currVal.replace(" and ", ", ")
        currVal = currVal.replace("\nand ", ", ")
        currVal = currVal.replace("\xa0", ", ")
        currVal = currVal.replace(" with ", ", ")
        newVal = currVal.split(", ")
    if type(currVal) == list:
        tempVal = []
        for val in currVal:
            val = val.replace(" and ", ", ")
            val = val.replace("\nand ", ", ")
            val = val.replace("\xa0", ", ")
            val = val.replace(" with ", ", ")
            newVal = val.split(", ")
            for temp in newVal:
                tempVal.append(temp)
        newVal = tempVal
    object["UNStudio Team"] = newVal
    ArchArrays.append(newVal)

In [32]:
with open("UNSFullDB.json", "w") as jsonFile:
    json.dump(dataObject, jsonFile, indent=2)

In [48]:
uniqueArchitects = []
allArchitects = [] 
for project in ArchArrays:
    for arch in project:
        if arch not in uniqueArchitects:
            uniqueArchitects.append(arch)
        allArchitects.append(arch)

print("Historical Architects: ",len(uniqueArchitects))

uniqueArchitectsCount = []
for arch in uniqueArchitects:
    projectCount = allArchitects.count(arch)
    uniqueArchitectsCount.append(projectCount)

Historical Architects:  1238

In [52]:
df = pd.DataFrame(list(zip(uniqueArchitects, uniqueArchitectsCount)), columns =['Architect', 'Project Count'])
df.sort_values(by=['Project Count'], ascending=False).head(50)

                 Architect  Project Count
0           Ben van Berkel            277
36            Caroline Bos             87
19            Astrid Piber             59
1         Gerard Loozekoot             54
62              Ger Gijzen             32
12         William de Boer             30
9           Nanang Santoso             29
147           Patrik Noome             28
2             Filippo Lodi             27
65      Christian Veddeler             26
153        Frans van Vuure             26
159         Kristoph Nowak             23
181          Arjan Dingsté             23
25         Wouter de Jonge             21
183       Marianthi Tatari             21
74          Jan Schellhoff             20
30         Juergen Heinzel             19
31       Derrick Diporedjo             19
104          Marc Salemink             19
64           Albert Gnodde             18
128          Machteld Kors             18
52        Tobias Wallisser             17
426          Tina Kortmann             17
43         Sander Versluis             17
265            Hannes Pfau             17
3         Jacques van Wijk             17
192         Cristina Bolis             17
85            Dana Behrman             17
20      Sontaya Bluangtook             17
11           Harlen Miller             16
63          Colette Parras             15
26         Holger Hoffmann             15
384  Roman Kristesiashvili             15
228                                    14
237            Bruno Peris             14
377     Alexander Kalachev             14
38         Marc Hoppermann             13
53            Nuno Almeida             13
84          Ariane Stracke             13
107       Cynthia Markhoff             13
27            Imola Berczi             13
21           Maud van Hees             13
79           Milena Stopic             12
260              René Wysk             12
134                Ren Yee             12
187         Tom Minderhoud             11
386          Melinda Matuz             11
39           Marc Herschel             11
137   Wendy van der Knijff             10
89        Wesley Lanckriet             10